.block-task{
    border: 1px solid black;
    width: 55%;
    margin: 5px auto;
    padding: 15px;
    text-align: left;

}
p{
    margin: 0;
    display: inline-block;
}
.delete-btn{
    float: right;
}
.done{
    display: none;
    color: red;
}